<h1>Comentário</h1>
<form action="/add-comentario" method="POST">
    <textarea name="comentario"></textarea>
    <br>
    <button type="submit">Cadastrar</button>
</form>

<h1>Comentários</h1>

{{#each comentarios}}
    Comentário: {{comentario}}<br>
    <audio controls>
        <source src="/audio" type="audio/ogg" name="{{comentario}}">
    </audio>
    <hr>
{{/each}}


    





